# Ejercicio - Busqueda de Alojamiento en Airbnb.

Supongamos que somos un agente de [Airbnb](http://www.airbnb.com) localizado en Lisboa, y tenemos que atender peticiones de varios clientes. Tenemos un archivo llamado `airbnb.csv` (en la carpeta data) donde tenemos información de todos los alojamientos de Airbnb en Lisboa.

In [2]:
import pandas as pd
airbnb = pd.read_csv("./data/pandas/airbnb.csv")

In [3]:
airbnb.head()

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
0,6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
1,17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
2,25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
3,29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
4,29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0

En concreto el dataset tiene las siguientes variables:
- room_id: el identificador de la propiedad
- host_id: el identificador del dueño de la propiedad
- room_type: tipo de propiedad (vivienda completa/(habitacion para compartir/habitación privada)
- neighborhood: el barrio de Lisboa
- reviews: El numero de opiniones
- overall_satisfaction: Puntuacion media del apartamento
- accommodates: El numero de personas que se pueden alojar en la propiedad
- bedrooms: El número de habitaciones
- price: El precio (en euros) por noche

### Caso 1.

Alicia va a ir a Lisboa durante una semana con su marido y sus 2 hijos. Están buscando un apartamento con habitaciones separadas para los padres y los hijos. No les importa donde alojarse o el precio, simplemente quieren tener una experiencia agradable. Esto significa que solo aceptan lugares con más de 10 críticas con una puntuación mayor de 4. Cuando seleccionemos habitaciones para Alicia, tenemos que asegurarnos de ordenar las habitaciones de mejor a peor puntuación. Para aquellas habitaciones que tienen la misma puntuación, debemos mostrar antes aquellas con más críticas. Debemos darle 3 alternativas.

In [8]:
df=airbnb[(airbnb['reviews'] > 10) & (airbnb['overall_satisfaction'] > 4)]
df=df.set_index("bedrooms")

In [34]:
df.head(3)

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,price
bedrooms,,,,,,,,
1.0,25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,69.0
1.0,29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,58.0
1.0,29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,67.0

In [ ]:
#CAS0 2

In [13]:
CASO2 = airbnb [ (airbnb['room_id'] == 97503) | (airbnb['room_id'] == 90387) ]
CASO2

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
41,90387,490050,Private room,Santo António,204,5.0,2,1.0,46.0
48,97503,515924,Private room,Santo António,39,4.0,2,1.0,26.0


### Caso 3

Diana va a Lisboa a pasar 3 noches y quiere conocer a gente nueva. Tiene un presupuesto de 50€ para su alojamiento. Debemos buscarle las 10 propiedades más baratas, dandole preferencia a aquellas que sean habitaciones compartidas *(room_type == Private room)*, y para aquellas viviendas compartidas debemos elegir aquellas con mejor puntuación.

In [33]:
CASO3=airbnb[(airbnb['price']==50) & (airbnb['room_type']=='Private room')]
CASO3.head(10)

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
3115,4646989,24058031,Private room,Arroios,23,4.5,2,1.0,50.0
3972,6207611,32184037,Private room,Misericórdia,70,5.0,2,1.0,50.0
4055,6327020,32184037,Private room,Misericórdia,60,5.0,2,1.0,50.0
4334,6711661,18892143,Private room,Campolide,0,0.0,2,1.0,50.0
8775,14510674,78774822,Private room,São Vicente,6,4.5,2,1.0,50.0
9234,15157992,53461729,Private room,Arroios,29,4.5,2,1.0,50.0
10050,16242199,106149355,Private room,Areeiro,0,0.0,4,1.0,50.0
11691,18067793,17426888,Private room,Estrela,0,0.0,1,1.0,50.0
12406,18670413,125039860,Private room,Arroios,0,0.0,2,1.0,50.0
12470,18725950,84365957,Private room,Penha de França,0,0.0,2,1.0,50.0